.spotlight_asset
  display: flex
  overflow: hidden
  
  h1
    font-size: 28px
  h2
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.01em
  h3
    font-size: 18px
  h4
    font-size: 15px
  h5
    font-size: 10px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.16em
  h6
    font-family: Inter-Medium
    font-size: 12px
    letter-spacing: 0.16em
  h1, h2
    font-family: Inter-ExtraBold
  h1, h2, h3, h6
    color: hsl(200, 16%, 4%)
  h3, h4
    color: hsl(200, 16%, 32%)
  h3, h4, h5
    font-family: Inter-Regular
  h1, h2, h3, h4, h5, h6, p
    margin: 0
    padding: 0
  .content_container
    max-width: 816px
    margin: 0 auto
  header
    width: 25%
    height: calc(100vh + 72px)
    position: fixed
    top: -72px
    padding: 0 32px
    margin: 0 auto
    .back-link
      margin-top: 180px
      font-size: 14px
      font-weight: 700
      color: hsl(200, 100%, 100%)
      a
        display: flex
        align-items: center
        svg
          height: 16px
          width: 16px
          margin-right: 8px
          opacity: 0.5
          path
            fill: none
        span
          opacity: 0.9
        &:hover
          svg, span
            opacity: 1
    color: white
    h1, h3, h6
      color: white
    .header_contents
      height: 80%
      display: flex
      flex-direction: column
      justify-content: center
      h1
        font-size: 33px
        line-height: 40px
        letter-spacing: -0.02em
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16)
      h6
        font-family: 'Inter', sans-serif
        font-weight: 100
        font-size: 12px
        line-height: 1
        letter-spacing: 0.01em
        margin: 12px 0 0
    .hero_logo
      opacity: 0.25
      position: absolute
      z-index: 1
      left: -32px
      top: 200px
      svg
        width: 256px
        height: 256px
        path
          fill: white
    .spotlight_header
      margin-bottom: 56px
      figure
        margin: 0 0 10px 0
        height: 24px
        svg
          height: 24px
          max-width: 120px
          path
            fill: white
      h3
        font-family: 'Inter', sans-serif
        letter-spacing: 0
        font-weight: 600
        font-size: 14px
        line-height: 1
  .testimonial_highlight
    .left, .right
      display: none !important

  &.horizontal
    flex-direction: column
    header
      position: relative
      top: 0px
      height: inherit
      width: 100%
      .back-link
        display: none
      .header_contents
        position: relative
        max-width: 784px
        margin: 0 auto
        padding: 80px 32px
    .spotlight_header
      display: flex
      align-items: center
      margin-bottom: 24px
      figure
        margin: 0 10px 0 0
    .hero_logo
      left: -48px
      top: 50%
      transform: translateY(-50%)
      position: absolute
    .content
      width: 100%
      margin-left: 0%
    .testimonial_highlight
      .left, .right
        display: block !important

  .content
    width: 75%
    margin-left: 25%
    h5
      line-height: 1
      margin: 0 0 16px
      color: hsl(200, 16%, 45%)
      &:after
        content: none
    section
      margin: 72px auto
      max-width: 784px
      padding: 0 32px
      &.testimonial
        padding: 0
        max-width: 768px
    .intro_text
      margin-bottom: 32px
    p
      font-size: 16px
      line-height: 175%
      color: #131516
      margin: 0
    .facts, .stats
      display: flex
      h6
        font-size: 15px
        // font-weight: 300
        font-family: 'Inter', sans-serif
        line-height: 1
        letter-spacing: -0.015em
        color: hsl(200, 16%, 24%)
    .facts
      margin-top: 24px
      .fact 
        font-weight: 500
        font-family: 'Inter', sans-serif
        font-size: 14px
        margin-right: 48px
        display: flex
        align-items: center
        &:last-child
          margin-right: 0
        svg
          margin-right: 12px
    .stats
      &.three
        justify-content: space-between
      &.two
        justify-content: space-around
    .stat
      max-width: 200px
      h2
        font-size: 56px
        margin-bottom: 4px
        line-height: 1
      .qualifier
        display: inline-block
        font-size: 20px
        font-family: 'Inter', sans-serif
        font-weight: 100 !important
        margin-left: 4px
        color: #3399ff
      
  .question
    display: block
    margin: 0 auto 48px
    padding: 0 !important
    p, ul, li
      font-size: 16px
    p
      margin-bottom: 8px
  ul
    li
      background: url('../components/graphics/radio_button.svg') no-repeat
      background-position: left center
      padding-left: 20px
      font-weight: 700
      list-style: none
      line-height: 1.5

  .spotlight_footer
    display: block
    margin: 0 auto
    max-width: 784px
    padding: 0 32px 48px
    position: relative
    .ue_logo
      display: inline-block
      width: 100%
    .ue_logo, .disclaimer
      margin-bottom: 24px
    .ueid-container
      text-align: left
    .ue_logo svg
      max-height: 24px
      max-width: 120px
    .disclaimer
      font-weight: 500
      font-family: 'Inter', sans-serif
      font-size: 12px
      line-height: 20px
      letter-spacing: -0.015em
      color: #131516
    .ueid-container
      font-family: 'Inter', sans-serif
      font-weight: 300
      font-size: 10px
      line-height: 8px
      text-align: left
      letter-spacing: -0.01em
      .ueid
        color: #131516
        margin-bottom: 8px
      .url 
        color: blue

@media print
  .spotlight_asset
    .ue_customer_spotlight_fab
      display: none

    .spotlight_footer
      page-break-inside: avoid

@media screen and (max-width: 1200px), print
  .spotlight_asset
    h1
      font-size: 36px !important
    .quote h2
      font-size: 24px !important
    .spotlight_asset
      flex-direction: column
      header
        position: relative
        width: 100%
        .contents
          position: relative
          top: 0
          left: 0
          max-width: 748px
          margin: 0 auto
          padding: 100px 0
      .hero_logo
        left: -80px
        top: 32px
        position: absolute


    header
      position: relative
      width: 100%
      height: 320px
      .spotlight_title h6
        margin-top: 16px
@media screen and (max-width: 816px)
  .spotlight_asset
    header
      min-height: 360px
      .contents
        padding: 78px 32px !important
    .facts, .stats
      display: block
      margin-top: -16px
      .fact, .stat
        display: inline-block
        margin: 24px 0 0
        width: 50%
@media screen and (max-height: 640px)
  .spotlight_asset
    .hero_logo
      opacity: 0.1
      transition: 0.15s all

@media screen and (max-width: 520px)
  .spotlight_asset
    display: block
    header, .content
      width: 100% !important
      position: relative
      margin-left: 0px
    .hero_logo
      overflow: hidden
    h1
      font-size: 28px !important
    .content
      section
        margin: 64px auto
      .facts, .stats
        display: block
      .facts .fact, .stats .stat
        width: 100%
        text-align: left !important
