.et-wrapper
  position: fixed
  bottom: 24px
  left: 24px
  padding: 16px 20px
  border-radius: 12px
  max-height: 48px
  box-shadow: 0px 12px 40px hsla(200, 8%, 8%, 0.16), 0px 8px 16px hsla(200, 8%, 8%, 0.12)
  background: white
  display: flex
  svg
    height: 16px
    width: 16px
    margin: 0 12px 0 0 
  .et-content
    display: inline-flex
    align-items: center
    font-size: 14px
    line-height: 12px
    letter-spacing: -0.015em
    padding: 0
    margin: 0
    color: hsl(200, 8%, 8%)
