@import '_typography'
@import '_modal'
@import '_toast'

h1
  font-size: 28px
h2
  font-size: 20px
  line-height: 24px
  letter-spacing: -0.01em
h3
  font-size: 18px
h4
  font-size: 15px
h5
  font-size: 10px
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 0.16em
h6
  font-family: Inter-SemiBold
  font-size: 12px
  letter-spacing: 0.16em
h1, h2
  font-family: Inter-ExtraBold
h1, h2, h3, h6
  color: hsl(200, 16%, 4%)
h3, h4
  color: hsl(200, 16%, 32%)
h3, h4, h5
  font-family: Inter-Regular
h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0


.pink1
  background: $pink1
.pink2
  background: $pink2
.pink3
  background: $pink3
.pink4
  background: $pink4
.pink5
  background: $pink5
.pink6
  background: $pink6
.pink7
  background: $pink7
.pink8
  background: $pink8
.pink9
  background: $pink9

.purple1
  background: $purple1
.purple2
  background: $purple2
.purple3
  background: $purple3
.purple4
  background: $purple4
.purple5
  background: $purple5
.purple6
  background: $purple6
.purple7
  background: $purple7
.purple8
  background: $purple8
.purple9
  background: $purple9

.blue1
  background: $blue1
.blue2
  background: $blue2
.blue3
  background: $blue3
.blue4
  background: $blue4
.blue5
  background: $blue5
.blue6
  background: $blue6
.blue7
  background: $blue7
.blue8
  background: $blue8
.blue9
  background: $blue9

.green1
  background: $green1
.green2
  background: $green2
.green3
  background: $green3
.green4
  background: $green4
.green5
  background: $green5
.green6
  background: $green6
.green7
  background: $green7
.green8
  background: $green8
.green9
  background: $green9

.yellow1
  background: $yellow1
.yellow2
  background: $yellow2
.yellow3
  background: $yellow3
.yellow4
  background: $yellow4
.yellow5
  background: $yellow5
.yellow6
  background: $yellow6
.yellow7
  background: $yellow7
.yellow8
  background: $yellow8
.yellow9
  background: $yellow9

.orange1
  background: $orange1
.orange2
  background: $orange2
.orange3
  background: $orange3
.orange4
  background: $orange4
.orange5
  background: $orange5
.orange6
  background: $orange6
.orange7
  background: $orange7
.orange8
  background: $orange8
.orange9
  background: $orange9

.red1
  background: $red1
.red2
  background: $red2
.red3
  background: $red3
.red4
  background: $red4
.red5
  background: $red5
.red6
  background: $red6
.red7
  background: $red7
.red8
  background: $red8
.red9
  background: $red9

.grey1
  background: $grey1
.grey2
  background: $grey2
.grey3
  background: $grey3
.grey4
  background: $grey4
.grey5
  background: $grey5
.grey6
  background: $grey6
.grey7
  background: $grey7
.grey8
  background: $grey8
.grey9
  background: $grey9

.pinkText
  color: $pink5

.purpleText
  color: $purple5

.blueText
  color: $blue5

.greenText
  color: $green5

.yellowText
  color: $yellow5

.orangeText
  color: $orange5

.redText
  color: $red5

.greyText
  color: $grey5
